.navbar {
    width: 5vw;
    height: fit-content;
    padding: 0.8vw;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1b;
    border-radius: 1svw;
    border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
.navbar2 {
    width: 5vw;
    height: 100%;
    padding: 0.8vw;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1b;
    border-radius: 1vw;
    border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
    flex: 1;
    gap: 2vw;
    /* margin-top: 1vw; */
}

.link {
    width: 100%;
    height: 3.5vw;
    border-radius: var(--mantine-radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-3-0), var(--mantine-color-dark-5));
        color: #f52280;
    }
    &::after {
        color: var(--mantine-color-pink-light-color);
    }

    &[data-active] {
        &,
        &:hover {
            /* background-color: var(--mantine-color-dark-5); */
            color: #f52280;
        }
    }
}
